<a href="https://colab.research.google.com/github/cyriacmathew2003/Introduction-to-Python/blob/main/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import files
supermarket=files.upload()

Saving Supermarket_sales.csv to Supermarket_sales.csv

In [2]:
import pandas as pd

In [6]:
import pandas 
dataframe=pandas.read_csv("Supermarket_sales.csv")
#print(dataframe)
print(dataframe.head(10))
print(dataframe.tail(10))

   No    InvoiceID Branch       City Customertype  Gender  \
0   1  750-67-8428      A     Yangon       Member  Female
1   2  226-31-3081      C  Naypyitaw       Normal  Female
2   3  631-41-3108      A     Yangon       Normal    Male
3   4  123-19-1176      A     Yangon       Member    Male
4   5  373-73-7910      A     Yangon       Normal    Male
5   6  699-14-3026      C  Naypyitaw       Normal    Male
6   7  355-53-5943      A     Yangon       Member  Female
7   8  315-22-5665      C  Naypyitaw       Normal  Female
8   9  665-32-9167      A     Yangon       Member  Female
9  10  692-92-5582      B   Mandalay       Member  Female

              Productline  Unitprice  Quantity      Tax     Total       Date  \
0       Health and beauty      74.69         7  26.1415  548.9715   1/5/2019
1  Electronic accessories      15.28         5   3.8200   80.2200   3/8/2019
2      Home and lifestyle      46.33         7  16.2155  340.5255   3/3/2019
3       Health and beauty      58.22         8  23.2880  489.0480  1/27/2019
4       Sports and travel      86.31         7  30.2085  634.3785   2/8/2019
5  Electronic accessories      85.39         7  29.8865  627.6165  3/25/2019
6  Electronic accessories      68.84         6  20.6520  433.6920  2/25/2019
7      Home and lifestyle      73.56        10  36.7800  772.3800  2/24/2019
8       Health and beauty      36.26         2   3.6260   76.1460  1/10/2019
9      Food and beverages      54.84         3   8.2260  172.7460  2/20/2019

    Time      Payment    cogs  gross_margin_percentage  gross_iincome  Rating
0  13:08      Ewallet  522.83                 4.761905        26.1415     9.1
1  10:29         Cash   76.40                 4.761905         3.8200     9.6
2  13:23  Credit card  324.31                 4.761905        16.2155     7.4
3  20:33      Ewallet  465.76                 4.761905        23.2880     8.4
4  10:37      Ewallet  604.17                 4.761905        30.2085     5.3
5  18:30      Ewallet  597.73                 4.761905        29.8865     4.1
6  14:36      Ewallet  413.04                 4.761905        20.6520     5.8
7  11:38      Ewallet  735.60                 4.761905        36.7800     8.0
8  17:15  Credit card   72.52                 4.761905         3.6260     7.2
9  13:27  Credit card  164.52                 4.761905         8.2260     5.9
       No    InvoiceID Branch       City Customertype  Gender  \
990   991  886-18-2897      A     Yangon       Normal  Female
991   992  602-16-6955      B   Mandalay       Normal  Female
992   993  745-74-0715      A     Yangon       Normal    Male
993   994  690-01-6631      B   Mandalay       Normal    Male
994   995  652-49-6720      C  Naypyitaw       Member  Female
995   996  233-67-5758      C  Naypyitaw       Normal    Male
996   997  303-96-2227      B   Mandalay       Normal  Female
997   998  727-02-1313      A     Yangon       Member    Male
998   999  347-56-2442      A     Yangon       Normal    Male
999  1000  849-09-3807      A     Yangon       Member  Female

                Productline  Unitprice  Quantity      Tax      Total  \
990      Food and beverages      56.56         5  14.1400   296.9400
991       Sports and travel      76.60        10  38.3000   804.3000
992  Electronic accessories      58.03         2   5.8030   121.8630
993     Fashion accessories      17.49        10   8.7450   183.6450
994  Electronic accessories      60.95         1   3.0475    63.9975
995       Health and beauty      40.35         1   2.0175    42.3675
996      Home and lifestyle      97.38        10  48.6900  1022.4900
997      Food and beverages      31.84         1   1.5920    33.4320
998      Home and lifestyle      65.82         1   3.2910    69.1110
999     Fashion accessories      88.34         7  30.9190   649.2990

          Date   Time      Payment    cogs  gross_margin_percentage  \
990  3/22/2019  19:06  Credit card  282.80                 4.761905
991  1/24/2019  18:10      Ewallet  766.00                 4.761905
992  3/10/2019  20:46      Ewallet  116.06                 4.761905
993  2/22/2019  18:35      Ewallet  174.90                 4.761905
994  2/18/2019  11:40      Ewallet   60.95                 4.761905
995  1/29/2019  13:46      Ewallet   40.35                 4.761905
996   3/2/2019  17:16      Ewallet  973.80                 4.761905
997   2/9/2019  13:22         Cash   31.84                 4.761905
998  2/22/2019  15:33         Cash   65.82                 4.761905
999  2/18/2019  13:28         Cash  618.38                 4.761905

     gross_iincome  Rating
990        14.1400     4.5
991        38.3000     6.0
992         5.8030     8.8
993         8.7450     6.6
994         3.0475     5.9
995         2.0175     6.2
996        48.6900     4.4
997         1.5920     7.7
998         3.2910     4.1
999        30.9190     6.6

In [10]:
dataframe.loc[4]

No                                         5
InvoiceID                        373-73-7910
Branch                                     A
City                                  Yangon
Customertype                          Normal
Gender                                  Male
Productline                Sports and travel
Unitprice                              86.31
Quantity                                   7
Tax                                  30.2085
Total                               634.3785
Date                                2/8/2019
Time                                   10:37
Payment                              Ewallet
cogs                                  604.17
gross_margin_percentage             4.761905
gross_iincome                        30.2085
Rating                                   5.3
Name: 4, dtype: object

In [13]:
dataframe[['City','Branch']]

          City Branch
0       Yangon      A
1    Naypyitaw      C
2       Yangon      A
3       Yangon      A
4       Yangon      A
..         ...    ...
995  Naypyitaw      C
996   Mandalay      B
997     Yangon      A
998     Yangon      A
999     Yangon      A

[1000 rows x 2 columns]

In [15]:
dataframe.head(4)

,No,InvoiceID,Branch,City,Customertype,Gender,Productline,Unitprice,Quantity,Total,Date,Time,Payment,cogs,gross_margin_percentage,gross_iincome,Rating
0,1,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,2,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,3,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,4,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4

In [33]:
dataframe=dataframe.drop(['Time'],axis=1)

In [34]:
dataframe.head(4)

,No,InvoiceID,Branch,City,Customertype,Gender,Productline,Unitprice,Quantity,Total,Date,Payment,cogs,gross_iincome,Rating
0,1,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,548.9715,1/5/2019,Ewallet,522.83,26.1415,9.1
1,2,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,80.2200,3/8/2019,Cash,76.40,3.8200,9.6
3,4,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,489.0480,1/27/2019,Ewallet,465.76,23.2880,8.4
4,5,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,634.3785,2/8/2019,Ewallet,604.17,30.2085,5.3

In [37]:
dataframe=dataframe.drop([4],axis=0)
dataframe.head(4)

,No,InvoiceID,Branch,City,Customertype,Gender,Productline,Unitprice,Quantity,Total,Date,Payment,cogs,gross_iincome,Rating
0,1,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,548.9715,1/5/2019,Ewallet,522.83,26.1415,9.1
1,2,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,80.2200,3/8/2019,Cash,76.40,3.8200,9.6
3,4,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,489.0480,1/27/2019,Ewallet,465.76,23.2880,8.4
5,6,699-14-3026,C,Naypyitaw,Normal,Male,Electronic accessories,85.39,7,627.6165,3/25/2019,Ewallet,597.73,29.8865,4.1

In [40]:
print(dataframe.Unitprice.max())

99.96

In [42]:
print(dataframe.Unitprice.idxmax())

122

In [43]:
print(dataframe.Unitprice.min())

10.08

print(dataframe.Unitprice.idxmin())

In [45]:
print(dataframe.Unitprice.mean())

55.65079158316634

In [50]:
dataframe.loc[dataframe['Customertype']=='Normal']

,No,InvoiceID,Branch,City,Customertype,Gender,Productline,Unitprice,Quantity,Total,Date,Payment,cogs,gross_iincome,Rating
1,2,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,80.2200,3/8/2019,Cash,76.40,3.8200,9.6
5,6,699-14-3026,C,Naypyitaw,Normal,Male,Electronic accessories,85.39,7,627.6165,3/25/2019,Ewallet,597.73,29.8865,4.1
7,8,315-22-5665,C,Naypyitaw,Normal,Female,Home and lifestyle,73.56,10,772.3800,2/24/2019,Ewallet,735.60,36.7800,8.0
12,13,365-64-0515,A,Yangon,Normal,Female,Electronic accessories,46.95,5,246.4875,2/12/2019,Ewallet,234.75,11.7375,7.1
13,14,252-56-2699,A,Yangon,Normal,Male,Food and beverages,43.19,10,453.4950,2/7/2019,Ewallet,431.90,21.5950,8.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
992,993,745-74-0715,A,Yangon,Normal,Male,Electronic accessories,58.03,2,121.8630,3/10/2019,Ewallet,116.06,5.8030,8.8
993,994,690-01-6631,B,Mandalay,Normal,Male,Fashion accessories,17.49,10,183.6450,2/22/2019,Ewallet,174.90,8.7450,6.6
995,996,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,42.3675,1/29/2019,Ewallet,40.35,2.0175,6.2
996,997,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,1022.4900,3/2/2019,Ewallet,973.80,48.6900,4.4
998,999,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,69.1110,2/22/2019,Cash,65.82,3.2910,4.1

In [51]:
dataframe.loc[dataframe['Gender']=='Male']

,No,InvoiceID,Branch,City,Customertype,Gender,Productline,Unitprice,Quantity,Total,Date,Payment,cogs,gross_iincome,Rating
3,4,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,489.0480,1/27/2019,Ewallet,465.76,23.2880,8.4
5,6,699-14-3026,C,Naypyitaw,Normal,Male,Electronic accessories,85.39,7,627.6165,3/25/2019,Ewallet,597.73,29.8865,4.1
11,12,529-56-3974,B,Mandalay,Member,Male,Electronic accessories,25.51,4,107.1420,3/9/2019,Cash,102.04,5.1020,6.8
13,14,252-56-2699,A,Yangon,Normal,Male,Food and beverages,43.19,10,453.4950,2/7/2019,Ewallet,431.90,21.5950,8.2
17,18,765-26-6951,A,Yangon,Normal,Male,Sports and travel,72.61,6,457.4430,1/1/2019,Credit card,435.66,21.7830,6.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
992,993,745-74-0715,A,Yangon,Normal,Male,Electronic accessories,58.03,2,121.8630,3/10/2019,Ewallet,116.06,5.8030,8.8
993,994,690-01-6631,B,Mandalay,Normal,Male,Fashion accessories,17.49,10,183.6450,2/22/2019,Ewallet,174.90,8.7450,6.6
995,996,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,42.3675,1/29/2019,Ewallet,40.35,2.0175,6.2
997,998,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,33.4320,2/9/2019,Cash,31.84,1.5920,7.7
998,999,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,69.1110,2/22/2019,Cash,65.82,3.2910,4.1

In [52]:
import numpy as np

In [54]:
student_marks=[12,14,10]
marksarray=np.array(student_marks)
print(marksarray)

[12 14 10]

In [57]:
student_marks=[[12,14],[15,19],[11,15],[12,47]]
marksarray=np.array(student_marks)
print(marksarray)

[[12 14]
 [15 19]
 [11 15]
 [12 47]]

In [59]:
values1= np.arange(20)
print(values1)

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19]

In [60]:
values1= np.arange(1,11)
print(values1)

[ 1  2  3  4  5  6  7  8  9 10]

In [61]:
values1= np.arange(5,11)
print(values1)

[ 5  6  7  8  9 10]

In [62]:
values1= np.arange(1,11,2)
print(values1)

[1 3 5 7 9]

In [63]:
values1= np.arange(70,100,3)
print(values1)

[70 73 76 79 82 85 88 91 94 97]

In [64]:
zeroarray = np.zeros(5)
print(zeroarray)

[0. 0. 0. 0. 0.]

In [67]:
zeroarray = np.zeros((2,6))
print(zeroarray)

[[0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0.]]

In [68]:
onesarray2 = np.ones((4,2))
print(onesarray2)

[[1. 1.]
 [1. 1.]
 [1. 1.]
 [1. 1.]]

In [69]:
onesarray2 = np.ones((8,2))
print(onesarray2)

[[1. 1.]
 [1. 1.]
 [1. 1.]
 [1. 1.]
 [1. 1.]
 [1. 1.]
 [1. 1.]
 [1. 1.]]

In [73]:
identityarray=np.eye(5)
print(identityarray)

[[1. 0. 0. 0. 0.]
 [0. 1. 0. 0. 0.]
 [0. 0. 1. 0. 0.]
 [0. 0. 0. 1. 0.]
 [0. 0. 0. 0. 1.]]

In [74]:
len(zeroarray)

2

In [77]:
firstarray=np.array([[10,20,30,40],[2,4,6,8],[5,1015,20]])
print(firstarray.shape)
secondarray=firstarray.res

(3,)

<ipython-input-77-d205c61b041c>:1: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  firstarray=np.array([[10,20,30,40],[2,4,6,8],[5,1015,20]])

In [84]:
values=np.random.randint(1,3,5)

In [85]:
print(values)

[1 2 2 1 2]

In [86]:
values=np.random.randint(1,20,8)
print(values)

[14  1  4 17 19 18 14  7]

In [87]:
randshaped = np.random.randint(1,20,(5,3))
print(randshaped)

[[13  7 17]
 [19 18  9]
 [ 8  5 16]
 [19 12 11]
 [13  2 11]]

In [89]:
randshaped = np.random.randint(25,50,(4,3))
print(randshaped)

[[49 40 42]
 [47 31 29]
 [30 48 37]
 [27 41 35]]